:root {
  --wf-red: rgb(91, 22, 11);
  --wf-grey: rgb(250, 235, 215);
  --wf-white1: rgb(253, 246, 237);
  --wf-brown: rgb(36, 34, 35);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

.homepage-section,
.ceremony-section,
.reception-section,
.gift-section,
.rsvp-section,
.info-section,
.other-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--wf-brown);
  text-align: left;
  font-size: 1.8rem;
}


.homepage-section article,
.ceremony-section article,
.reception-section article,
.gift-section article,
.rsvp-section article,
.other-section article {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(170, 170, 157, 0.8);
  width:400px;
  height:60vh;
  /* border-left: 7px var(--wf-red) solid;
  border-right: 7px var(--wf-red) solid; */
  border: 7px var(--wf-red) solid;
  overflow: auto;
}

.info-section article {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(170, 170, 157, 0.8);
  width: 40%;
  height: 80vh;
  /* border-left: 7px var(--wf-red) solid;
  border-right: 7px var(--wf-red) solid; */
  border: 7px var(--wf-red) solid;
  overflow: auto;
}

.back {
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  color: var(--wf-red);
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 50px;
  border-top: var(--wf-red) 7px solid;
}

body {
  background-image: url(./wedding_images/wedding-invite-background-WEB-PHONE.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 0;

  font-family: 'Akshar', Helvetica, sans-serif;
}

span {
  display: block;
  font-size: 6rem;
  font-family: 'Playfair Display', serif;
  color: var(--wf-red);
  text-align: left;
  line-height: 58px;
}

a {
  text-decoration: none;
  color: var(--wf-red);
}

a:hover {
  color: rgba(36, 34, 35, 0.6);
}

/* .navlist {
  position: fixed;
  bottom: 0;
  height: 200px;
  overflow: hidden;
  background-color: rgba(170, 170, 157, 1);
  width: 80%;
  border-left: 7px var(--wf-red) solid;
  border-right: 7px var(--wf-red) solid;
}
*/

/*
//**************** LINKS TOGGLE *****************
.links {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.openButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 40px;
  font-size: 4rem;
}

.openButton:hover {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
  font-size: 1.7rem;
  margin-top: 15px;
  color: var(--wf-brown);
  text-align: center;
}

.hidelinks {
  display: none;
}
*/

/* ********************************* */

.weddingDate {
  font-size: 2.8rem;
  color: rgba(36, 34, 35, 0.6);
}



main {
  color: var(--wf-red);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin-top: 10px;
  line-height: 24px;
  max-width: 400px;
}

.paragraphHeadline {
  font-size: 2.1rem;
  font-family: 'Playfair Display', serif;
  color: var(--wf-red);
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: var(--wf-red) 7px solid;
}

.paragraphHeadlineWedding {
  font-size: 2.8rem;
  font-family: 'Playfair Display', serif;
  color: rgba(36, 34, 35, 0.6);
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 40px;
  border-top: var(--wf-red) 7px solid;
}

.pleaseNote {
  color:var(--wf-red);
}

/* button {
  width: 120px;
  height:50px;
  margin: 20px 0px 10px 0px;
  border: var(--wf-red) solid 6px;
  border-radius: 20px;
  background-color: rgba(170, 170, 157, 1);
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  color: var(--wf-red);
} */

.donateButton {
  margin-top: 20px;
  width: 120px;
  height: 50px;
}

/* .phonecall {
  width: 60px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  border: var(--wf-red) solid 3px;
  border-radius: 6px;
  font-size: 1.5rem;
  color: var(--wf-red);
} */




/* 
.menu-right,
.menu-left {
  margin: 0px 20px 0px 20px;
} */



